<div class="row g-5 container-fluid">
  <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-secondary">Seu carrinho</span>
          </h4>
          <ul class="list-group mb-3">
            <% for(let product of products) { %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <img src="<%=imageHelper.urlImage(product.image)%>" class="sizeimage">
              </div>
              <div>
                <h6 class="my-0 margeleft"><%=product.name%></h6>
              </div>
              <span class="text-muted item-price"><%=product.price%></span>
            </li>
            <% } %>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total</span>
              <strong>R$ <a id="total-cart"></a>                 
              </strong>
            </li>
          </ul>
        </div>
        <% if(user != null){%>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3 text-secondary">Dados para pagamento</h4>
          <form class="needs-validation" novalidate="">
            <class class="row g-3">
              <div class="col-12">
                <label for="firstName" class="form-label">Nome</label>
                <input type="text" class="form-control name" id="name" placeholder="" value="<%=user.name%>" required="">
                <div class="invalid-feedback">
                 Nome é obrigatório.
                </div>
              </div>
              <div class="col-5">
                <label for="document" class="form-label">CPF</label>
                <input type="document" class="form-control document" id="document" placeholder="xxx.xxx.xxx.xx" value="<%=user.document%>">
                <div class="invalid-feedback">
                    Insira um cpf válido.
                </div>
              </div>
              <div class="col-7">
                <label for="document" class="form-label">Email</label>
                <input type="email" class="form-control email" id="email" value="<%=user.email%>">
              </div>
                        <div class="col-2">
                            <label for="zip" class="form-label">CEP</label>
                            <input type="text" class="form-control" id="postcode" name="postcode" required="" value="<%=user.address.postCode%>">
                            <div class="invalid-feedback">
                              CEP é obrigatório.
                            </div>
                          </div>
                      <div class="col-8">
                        <label for="address" class="form-label">Rua</label>
                        <input type="text" class="form-control" id="street" name="street"  required="" value="<%=user.address.street%>">
                        <div class="invalid-feedback">
                            Por favor inserir seu endereço de entrega.
                        </div>
                      </div>
                      <div class="col-2">
                        <label for="address" class="form-label">Número</label>
                        <input type="text" class="form-control" id="number" name="number" placeholder="Número" required="" value="<%=user.address.number%>">
                        <div class="invalid-feedback">
                            Por favor inserir o número.
                        </div>
                      </div>            
                      <div class="col-7">
                        <label for="address2" class="form-label">Complemento <span class="text-muted">(Opcional)</span></label>
                        <input type="text" class="form-control" id="complement" name="complement" placeholder="Apartamento / Condomínio / Bloco" value="<%=user.address.complement%>">
                      </div>
                      <div class="col-5">
                        <label for="address2" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="neighborhood" name="neighborhood" placeholder="" value="<%=user.address.neighborhood%>">
                      </div>
                      <div class="col-6">
                        <label for="address2" class="form-label">Cidade</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="" value="<%=user.address.city%>">
                      </div>          
                      <div class="col-6">
                        <label for="state" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="state" name="state" placeholder="" value="<%=user.address.state%>">
                        <div class="invalid-feedback">
                          Por favor insira um estado válido.
                        </div>
                      </div>

            <hr class="my-4">

        <h4 class="mb-3 text-secondary">Tipo do pagamento</h4>
        <div class="form-check">
          <input class="form-check-input billet-method" type="radio" name="radiusMethodPay" id="billet-method" value="BOLETO">
          <label class="form-check-label" for="flexRadioDefault1">
            Boleto
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input card-method" type="radio" name="radiusMethodPay" id="card-method" value="CREDIT_CARD" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Cartão de Crédito
          </label>
        </div>
        <hr class="mb-4">
            <button class="btn btn-success btn-lg margins bt-payment" id="bt-payment" type="button">Confirmar pedido</button>
        </div>
 </div>
 <%}%>

 <script src="/js/sum.js"></script>
 <script src="/js/charge.shineyou.js"></script>