<!DOCTYPE html>
<html lang="en"></html>

    <%- include('../partitions/head') %>

<!-- <body class="container-fluid">

    <div class="backg-load">
        <div class= "spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div> -->

    <%- include('../partitions/main') %>
    <%- include('../partitions/nav') %>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/20244417.js"></script>
<!-- End of HubSpot Embed Code -->
    <%- body %>

    <%- include('../partitions/scripts') %>
      
</body>
</html>
