<% if(product != undefined){%>
<div class="row container-fluid">
    <div class="col-md-3">
      <img src="<%=product.image%>"  class= "resize" alt="...">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title fw-bolder"><%=product.name%></h5>
        <p class="card-text fw-light"><%=product.description%></p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title"><small class="text-dark">R$ <%=product.value%></small></h5>
        <p class="card-text"><small class="text-muted">Estoque: <%=product.quantity%></small></p>
        <p class="card-btn"> 
          <input class="form-control me-2" id="postcode" style="width: 210px;" type="search" placeholder="00000-000" aria-label="Pesquisar" maxlength="9">
          <a href="/payment" class="btn btn-primary" id= "btn-postcode" style="width: 210px;">Consultar frete
            <img src="https://img.icons8.com/small/32/000000/in-transit.png"/>
          </a>
        </p>
        <p class="card-btn"> 
          <a href="/cart" class="btn btn-warning" style="width: 215px;">Adicionar ao carrinho
              <img src="https://img.icons8.com/small/32/000000/shopping-bag.png"/>
          </a>
        </p>
        <p class="card-btn"> 
          <a href="/payment" class="btn btn-success" style="width: 210px;">Comprar agora
              <img src="https://img.icons8.com/ios/32/000000/card-in-use.png"/>
          </a>
        </p>
      </div>
    </div>
</div>
<%}%>